<footer class="footer">
  <small>
    <a><%=link_to "ACE4you", root_path %></a>
    by Xiao Huang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ace4u.heroku.com/">News</a></li>
    </ul>
  </nav>
</footer>